
.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #004A57;
}

.info-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.donation-icon {
    margin-right: 40px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    overflow: hidden;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 500;
    font-size: 40px;
    color: #1C3F5B;
    margin-right: 10px;
}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    color: #006374;
    margin-right: 10px;
    width: 180px;
}

.text-info {
    font-weight: 400;
    font-size: 22px;
    color: #1C3F5B;
    flex: 1;
}

.section {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.details-container {
    margin-top: 30px;
}


/* Gaya untuk card kegiatan */

.daftarKegiatanContents{
    padding: 16px;
}
#daftar-kegiatan-title{
    margin-top: 45px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 600;
    padding-right: 10px;
    color: #006374;
    margin-bottom: 50px;
}


.activity-card {
    margin-bottom: 30px;
}

.card {
    width: 90%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    margin-left: 30px;
    margin-bottom: 70px;
}

.card-img-top {
    height: 14rem;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.card-text {
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    color: rgba(60, 60, 67, 0.60);
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

#card-namaPanti, #card-jenisDonasi {
    font-size: 16px;
    font-weight: 400;
    color: rgba(60, 60, 67, 0.60);
}

#jenisDonasiIcons{
    padding-right: 10px;
    width: 30px;
    height: 18px;
}
