
.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #004A57;
}

.info-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.donation-icon {
    margin-right: 40px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    overflow: hidden;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 500;
    font-size: 40px;
    color: #1C3F5B;
    margin-right: 10px;
}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    color: #006374;
    margin-right: 10px;
    width: 180px;
}

.text-info {
    font-weight: 400;
    font-size: 22px;
    color: #1C3F5B;
    flex: 1;
}

.section {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.details-container {
    margin-top: 30px;
}
