*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card{
    margin-top: 2%;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
}

.btn{
    border-radius:5px;
    font-size: 13px;
}

.error-msg{
    margin-bottom: 10px;
    font-size: 12px;
}

/* CARD HEADER  */

.card-header{
    background-color: transparent;
    border-bottom: none;
}

.position{
    color: #1C3F5B;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 5px;
}

.title{
    margin-top: 20px;
    font-weight: 600;
    color: #1C3F5B;
    margin-bottom: 0px;
}

/* CARD BODY  */

.card-body{
    margin-top: 0px;
}

.desc-change-pass1{
    font-size: 16px;
    color: #1C3F5B;
    font-weight: 600;
    margin-bottom: 5px;
}

.desc-change-pass2{
    color: #006374;
    font-size: smaller;
    margin-bottom: 20px;
}

#password{
    color: #007C92;
    font-size:12px;
}

.form-control{
    background-color: #F0F0F0;
    margin-bottom: 10px;
}

input.form-control:focus{
    box-shadow: none;
}

.save-cancel{
    margin-top: 30px;
}

#btn-save, #btn-profile{
    background: #00AF71;
    color: #FDFFFE;
}

#btn-save:hover, #btn-profile:hover{
    font-weight: 500;
    background: #009B65;
    color: #FDFFFE;
}

.btn-cancel, #btn-change{
    color: #007C92;
    border: 1px solid #007C92;
}

.btn-cancel:hover, #btn-change:hover{
    font-weight: 500;
    background: #E6E7E6;
    color: #007C92;
    border: 1px solid #007C92;
}

#btn-cancel, #btn-save{
    min-width: auto;
    margin-left: 20px;
}

/* MODAL CANCEL CHANGE PASSWORD */

.modal-body{
    word-wrap: break-word;
}

.col-change{
    width: 30%;
}

.col-profile{
    width: 30%;
}

#btn-change, #btn-profile{
    width: 100%;
}

/* RESPONSIVE  */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    .profile-pict{
        max-width: 100%;
        max-height: 20%;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
    }

    .profile-pict{
        max-width: 35%;
        max-height: 35%;
    }
}
