*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card{
    border-bottom: none;
}

/* POSITION INFORMATION  */

.position{
    color: #1C3F5B;
    font-size: x-small;
    font-style: italic;
}

/* CARD HEADER  */

.card-header{
    background-color: transparent;
    border-bottom: none;
}


