#information-icon{
    width: 28px;
    height: 26px;
    margin-right: 20px;
}

.alert{
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-size: 16px;
}

.alert p{
    color: #CB3A31;
    margin-bottom: 0px;
}

.information-button{
    cursor: pointer;
    z-index: 1;
}

/* Overlay Grey to block other actions when entering page for the first time */
/* #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 137, 137, 0.54);
    z-index: 0;
} */

/* SEARCH BAR */
.searchbar{
    margin-top: 30px;
}

#placeholder-text{
    color: #3C3C43;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word
}

/* OPTIONS */
.kegiatan-nav{
    display: flex;
    flex-direction: row;
}
