/* content   */

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.img-fluid{
    display: block;
    height: 100vh;
    width: 50vw;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.logo-img{
    width: 60px;
    height: 62px;
}

.header{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00744C;
    word-wrap: break-word;
}

.card{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    background: #FDFFFE;
    border: none;
}

.card-body{
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.card-title{
    color: #003A44;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
}

.desc-text{
    /* margin-bottom: 0px; */
    color: #003A44;
    text-align:justify;
    font-size: 10px;
}

.password-text{
    color: #003A44;
    text-align:justify;
    font-size: 10px;
    margin-bottom: 15px;
}

.password-input{
    background-color: #F0F0F0;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    /* margin-bottom: 1px; */
}

.btn-new-password{
    width: 100%;
    border-radius:5px;
    font-size: 13px;
}

#btn-save{
    margin-top: 10px;
    background: #00AF71;
    color: #FDFFFE;
}

#btn-save:hover{
    background: #009B65;
    color: #FDFFFE;
}

#btn-back{
    color: #007C92;
    border: 1px solid #007C92;
}

#btn-back:hover{
    background: #E6E7E6;
    color: #007C92;
}

.bottom-txt{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 1px; */
    /* padding-top: 15px; */
}

#copyright-txt{
    padding-top: 0px;
    color: #009B65;
    font-size: 10px;
    font-weight: 500;
    word-wrap: break-word;
}


/* pop up   */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-pop-up{
    border-radius:5px;
    font-size: 13px;
}

#btn-change{
    background: #00AF71;
    color: #FDFFFE;
}

#btn-change:hover{
    background: #009B65;
    color: #FDFFFE;
}

#btn-exit{
    color: #007C92;
    border: 1px solid #007C92;
}

#btn-exit:hover{
    background: #E6E7E6;
    color: #007C92;
}

.popup-text{
    color: #152F44;
}

.popup-title{
    font-weight: 600;
}

.popup-desc{
    font-size: 16px;
}







