*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn{
    width: 100%;
    border-radius:5px;
    font-size: 13px;
}

/* INFORMATION */

#information-icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.alert{
    display: inline-flex;
    flex-direction: row;
    font-size: 16px;
    width: 80%
}

.alert p{
    color: #CB3A31;
    margin-bottom: 0px;
}

/* LEFT SIDE  */

.left{
    padding-left: 50px;
    padding-top:50px;
    overflow: hidden;
    height: 100vh;
}

.left-title{
    color: #006374;
    margin-bottom: 30px;
}

.profile-pict{
    width: 150px;
    height: 150px;
    border-radius: 75%;
    object-fit: cover;
    margin-bottom: 30px;
}

#btn-choose-photo, #btn-change-password, #btn-back{
    color: #007C92;
}

#btn-choose-photo, #btn-change-password{
    border: 1px solid #006374;
    margin-bottom: 15px;
}

#btn-choose-photo:hover, #btn-change-password:hover, #btn-back:hover{
    background: #E6E7E6;
    font-weight: 500;
}

.file-choose-photo{
    display: none;
}

#btn-logout, #btn-yes-logout{
    background: #B7342C;
    color: #FDFFFE;
}

#btn-logout:hover, #btn-yes-logout:hover{
    background: #A42E28;
    font-weight: 500;
}

/* RIGHT SIDE  */

.right{
    height: 100vh;
    padding-top: 50px;
    padding-left: 100px;
    overflow-y: auto;
}

#btn-edit{
    background: #007C92;
    color: #FFFFFF;
    margin-bottom: 20px;
    /* font-size: 13px; */
}

#btn-edit:hover{
    background: #017286;
    font-weight: 600;
}

/* RIGHT SIDE MAIN TABLE  */

table, td, tr{
    border: none;
}

td, tr{
    padding-bottom: 20px;
}

.left-column-mt, .right-column-mt{
    color: #006374;
}

.left-column-mt{
    font-weight: 500;
}

/* RIGHT SIDE SCHEDULE TABLE  */

.schedule-table{
    border: 1px solid;
    border-spacing: 50px;
}

.row-st{
    padding-left: 10px;
    padding-right: 15px;
}

.error-msg{
    margin-bottom: 20px;
    font-size: 12px;
}

/* MODAL  */
.modal-body{
    word-wrap: break-word;
}

.col-change{
    width: 30%;
}

.col-profile{
    width: 30%;
}

#btn-back{
    border: 1px solid #007C92;
}

/* #btn-back:hover{
    font-weight: 500;
    background: #E6E7E6;
    color: #007C92;
    border: 1px solid #007C92;
} */
