*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card.main.container{
    margin-top: 2%;
    border: none;
}

.card.kegiatan.container{
    border-top: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card.kegiatan.container:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card.container.blank{
    border: none;
    height: 50vh;
}

.btn{
    border-radius:5px;
    font-size: 13px;
}

/* MAIN-CARD HEADER  */

.card-header.main{
    background-color: transparent;
    border-bottom: none;
}

.position{
    color: #1C3F5B;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 5px;
}

.back{
    text-decoration: none;
    color: #007C92;
    font-size: small;
}

.back-column{
    padding: 0px;
}

.gambar-back{
    width: 20px;
}

.title{
    margin-top: 20px;
    font-weight: 600;
    color: #007C92;
}

/* MAIN-CARD BODY  */

.card-body.main{
    margin-top: 0px;
}

.row{
    padding-left: 12px;
}

.btn-filter, .btn-filter:hover{
    border: 1px solid #00744C;
    color: #00744C;
}

.btn-filter.selected{
    background-color: #D9F6EC;
    border: none;
    color: #00744C;
}

#btn-donasi, #btn-relawan, #btn-donasi-diterima, #btn-relawan-diterima, #btn-relawan-ditolak{
    margin-left: 16px;
}

#sub-filter{
    margin-top: 15px;
}

.btn-sub-filter, .btn-sub-filter:hover{
    border: 1px solid #00849B;
    color: #00849B;
}

.btn-sub-filter.selected{
    background-color: #D9F2F6;
    border: none;
    color: #00849B;
}

/* KEGIATAN-CARD HEADER  */
.card-header.kegiatan{
    background-color: transparent;
    border-bottom: none;
    padding: 0px;
}

.card-title{
    color: #1C3F5B;
    font-weight: 600;
}

.label-donasi-relawan{
    border: 1px solid #00849B;
    color: #00849B;
    border-radius: 5px;
    font-size: small;
}

.tanggal-donasi-relawan, .nama-panti, .jenis-donasi-relawan{
    color: #1C3F5B;
    font-size: small;
}

.nama-panti{
    padding-top: 5px;
}

.jenis-donasi-relawan{
    padding-top: 5px;
    padding-bottom: 10px;
}

/* KEGIATAN-CARD BODY   */
.card-body.kegiatan{
    padding: 0px;
}

.gambar-donasi{
    width: 20px;
    height: auto;
    padding-left: 2px;
    padding-right: 2px;
}

/* BLANK-CARD BODY  */
.card-text.blank{
    font-size: medium;
    color: #00849B;
    text-align: center;
}

/* RESPONSIVE  */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
    }

    #btn-relawan-ditolak{
        margin-top: 10px;
    }
}
