*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Container for consistent layout */
.container {
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 0 20px; /* Add some padding for breathing room */
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00849B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #FDFFFE;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    font-weight:600;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.contact-us{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #FDFFFE;
    display: block;
    transition: 0.3s;
    margin-top: 480px;
}

#content-contact-us p{
    font-size: 14px;
    margin-bottom: 5px;
}

.openbtn {
    font-size: 40px;
    cursor: pointer;
    color: #00744C;
    padding-right: 15px ;
    border: none;
    background-color: transparent;
}

#logoImage {
    width: 54px;
    height: 56px;
}

#organization-profile{
    width: 32px;
    height: 32px;
    margin-right: 5px; /* Adjust as needed */
}

#organization-name {
    margin: 0;
}

#givingGoodsTitle {
    color: #00744C;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
}


/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom of the page */
    flex-shrink: 0;
    text-align: center;
    padding-top: 80px;
}

.footer-text {
    color: #00744C;
    text-align: center;
    margin: 0;
}

.footer {
    flex-shrink: 0;
    margin-top: auto;
    text-align: center;
    padding-top: 80px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}


/* STATUS */
.badge-custom {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: auto;
    height: 100%;
    padding: 3px 25px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

 .statusAkanDatang {
    background: #898989;
    color: white;
}

.statusSedangBerlangsung {
    background: #F3A229;
    color: white;
}

.statusSelesai {
    background: #16B364;
    color: white;
}

/* RESPONSIVE  */

@media only screen and (min-width: 768px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .profile-pict{
        max-width: 100%;
        max-height: 20%;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }

    .profile-pict{
        max-width: 35%;
        max-height: 35%;
    }
}
