.image-wrapper {
    position: relative;
    width: 100%;
    height: 454px;
    overflow: hidden;
}

#background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5); /* 50% gray overlay */
    pointer-events: none;
}

.img-container {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

.contents{
    padding: 0 15px;
}

.artikel-subheader{
    display: flex;
    flex-direction: column;
}

.header-kegiatan-relawan{
    display: flex;
    align-items: center;
}

.header-donasi-barang{
    display: flex;
    align-self: center;
}

.header-donasi-barang h4 {
    font-size: 25px;
    font-weight: 600;
    padding-right: 10px;
    color: #005739;
}

#donasi-barang-title{
    font-size: 25px;
    font-weight: 600;
    padding-right: 10px;
    color: #005739;
}

#donasi-barang-title{
    font-size: 25px;
    font-weight: 600;
    padding-right: 10px;
    color: #005739;
}

#baca-artikel-title{
    font-size: 25px;
    font-weight: 600;
    padding-right: 10px;
    color: #005739;
}





