
.website-title {
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

/* DROPDOWN */
#dropdownOrganizationName {
    border: 0px;
    text-decoration: none;
    color: inherit;
    padding-top: 5px;
}

.dropdown-item{
    color: #007C92;
}

.dropdown a{
    width: auto;
}

.dropdown-toggle{
    display: flex;
    align-items: center;
}

.dropdown .dropdown-toggle:focus,
.dropdown .dropdown-toggle:active,
.dropdown .dropdown-toggle:focus-visible {
    outline: none !important;
    box-shadow: none !important; /* Remove any default box-shadow */
}

.dropdown-toggle img{
    margin-right: 10px;
}

.dropdown-toggle p {
    margin: 0;
}

#keluarAkun{
    color: #A22E27;
}

footer .text-muted{
    color: #00744C;
}

/* HEADER MODAL */
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-footer{
    gap: 30px;
}

.btn-kembali{
    padding: 5px 40px 5px 40px;
    color: #007C92;
    font-size: 16px;
    font-weight: 500;
    border: 1px #007C92 solid;
}

.btn-kembali:hover{
    padding: 5px 40px 5px 40px;
    color: #007C92;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px #007C92 solid;
}

.btn-keluar{
    padding: 5px 40px 5px 40px;
    color: #FDFFFE;
    font-size: 16px;
    font-weight: 500;
    background: #B7342C;
    border-radius: 5px;
}

.btn-keluar:hover{
    padding: 5px 40px 5px 40px;
    color: #FDFFFE;
    font-size: 16px;
    font-weight: 600;
    background: #B7342C;
    border-radius: 5px;
}

