.daftarForum-top{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#daftarForumTitle{
  color: #006374;
  font-size: 30px;
  font-weight: 600;
  margin-left: 80px;
  margin-top: 30px;
}

#buatDiskusiBaru{
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-top: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #006374;
    color: #FDFFFE;
    border-radius: 5px;
}

/* BACK BUTTON */
.btn-articleBack a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 40px;
}

.btn-articleBack:focus, .btn-articleBack:active {
    outline: none;
    box-shadow: none;
}

.back-img {
    margin-right: 8px;
}

.judulArtikel-text{
    color: #1c3f5B;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

/* ARTIKEL TEXT */
.artikel1{
    padding-left: 2.75em;
    padding-right: 2.75em;
    max-width: 120ch;
    margin-bottom: 50px;
}

.justify-text{
    color: #006374;
    justify-content: center;
    text-align: justify;
}



